.imgl-map-1 {
}
.imgl-map-1 .imgl-pin-1 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-1 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-1 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-2 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-2 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-2 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-3 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-3 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-3 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-4 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-4 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-4 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-5 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-5 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-5 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-6 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-6 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-6 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-7 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-7 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-7 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-8 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-8 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-8 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-9 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-9 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-9 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-10 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-10 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-10 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-11 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-11 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-11 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-12 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-12 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-12 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-13 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-13 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-13 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-14 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-14 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-14 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-15 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-15 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-15 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-16 .imgl-pin-data {
background-color:#000000;
background-repeat:no-repeat;
background-position:50% 50%;
border-width:4px;
border-style:solid;
border-color:rgba(255,255,255,0.67);
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
.imgl-map-1 .imgl-pin-16 .imgl-ico-wrap {
}
.imgl-map-1 .imgl-pin-16 .imgl-pin-pulse {
background-color:#ffffff;
animation-duration:1700ms;
border-top-left-radius:360px;
border-top-right-radius:360px;
border-bottom-right-radius:360px;
border-bottom-left-radius:360px;
}
